services:
  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: order-system-frontend
    ports:
      - 8080:80
    depends_on:
      - backend
    restart: unless-stopped
